---
import codegovLogo from '../assets/codegov-logo.png';
import MenuCloseIcon from './icons/MenuCloseIcon.astro';
import HamburgerMenuIcon from './icons/HamburgerMenuIcon.astro';
import SignInIcon from './icons/SignInIcon.astro';
import Collapsible from './ui/Collapsible.astro';
import Dropdown from './ui/Dropdown.astro';
import { getGlobalConfigStory, isLinkCategory } from '../storyblok/api';
import { env } from '../environment';
import ProfileIcon from './icons/ProfileIcon.astro';

const {
  content: { header_links },
} = await getGlobalConfigStory();
---

<header class="navbar" data-identity-provider={env.identityProvider}>
  <div class="navbar__inner">
    <nav class="navbar__nav">
      <a href="/" class="navbar__brand">
        <img class="navbar__logo" src={codegovLogo.src} alt="CodeGov Logo" />

        codegov.org
      </a>

      <div class="navbar__desktop-nav">
        {
          header_links.map((item, i) =>
            isLinkCategory(item) ? (
              <Dropdown
                menuTriggerClassName={['navbar__nav-item']}
                id={'navbar-menu-' + i}
              >
                <Fragment slot="menuTrigger">{item.title}</Fragment>

                <Fragment slot="menu">
                  {item.children.map(subItem => (
                    <a
                      role="menuitem"
                      href={subItem.content.cached_url}
                      class="dropdown__menu-item"
                    >
                      {subItem.title}
                    </a>
                  ))}
                </Fragment>
              </Dropdown>
            ) : (
              <a href={item.content.cached_url} class="navbar__nav-item">
                {item.title}
              </a>
            ),
          )
        }

        <button class="navbar__desktop-auth btn btn--icon" data-auth-button>
          <SignInIcon />
        </button>

        <button
          class="navbar__desktop-profile btn btn--icon"
          data-profile-button
        >
          <ProfileIcon />
        </button>
      </div>

      <div class="navbar__mobile-nav-trigger">
        <button type="button" data-menu-open aria-label="Open main menu">
          <HamburgerMenuIcon />
        </button>
      </div>
    </nav>

    <div
      data-menu
      class="navbar__mobile-nav navbar__mobile-nav--closed"
      role="dialog"
      aria-modal="true"
    >
      <div class="backdrop" data-sidenav-backdrop></div>

      <div class="sidenav">
        <div class="sidenav__header">
          <a href="/" class="sidenav__brand">
            <img
              class="sidenav__logo"
              src={codegovLogo.src}
              alt="CodeGov Logo"
            />

            <span class="sidenav__company">codegov.org</span>
          </a>

          <button type="button" data-menu-close aria-label="Close menu">
            <MenuCloseIcon />
          </button>
        </div>

        <nav class="sidebar__nav">
          {
            header_links.map(item =>
              isLinkCategory(item) ? (
                <div>
                  <Collapsible>
                    <Fragment slot="header">{item.title}</Fragment>

                    <Fragment slot="body">
                      {item.children.map(subItem => (
                        <a
                          href={subItem.content.cached_url}
                          class="sidenav__item"
                        >
                          {subItem.title}
                        </a>
                      ))}
                    </Fragment>
                  </Collapsible>
                </div>
              ) : (
                <a href={item.content.cached_url} class="sidenav__item">
                  {item.title}
                </a>
              ),
            )
          }
        </nav>
      </div>
    </div>
  </div>
</header>

<script src="./navbar-menu.ts"></script>
<script src="./navbar-auth.ts"></script>
