---
import codegovLogo from '../assets/codegov-logo.png';
import { getGlobalConfigStory, isLinkCategory } from '../storyblok/api';
import type {
  LinkBlok,
  LinkCategoryBlok,
} from '../storyblok/types/bloks/navigation';
import type {
  SidenavLink,
  SidenavLinkCategory,
} from '@cg/ui/dist/types/components/organisms/sidenav/sidenav';

const {
  content: { header_links },
} = await getGlobalConfigStory();

function mapToSidenavLinkOrCategory(
  link: LinkCategoryBlok | LinkBlok,
): SidenavLink | SidenavLinkCategory {
  return isLinkCategory(link)
    ? {
        title: link.title,
        children: link.children.map(mapToSidenavLink),
      }
    : mapToSidenavLink(link);
}

function mapToSidenavLink(link: LinkBlok): SidenavLink {
  return {
    title: link.title,
    url: link.content.cached_url,
  };
}

const sidenavLinks = header_links.map(mapToSidenavLinkOrCategory);
---

<header class="navbar" data-sidenav-links={JSON.stringify(sidenavLinks)}>
  <div class="navbar__inner">
    <nav class="navbar__nav">
      <a href="/" class="navbar__brand">
        <img class="navbar__logo" src={codegovLogo.src} alt="CodeGov Logo" />

        codegov.org
      </a>

      <div class="navbar__desktop-nav">
        {
          header_links.map(item =>
            isLinkCategory(item) ? (
              <cg-dropdown>
                <cg-dropdown-trigger slot="dropdownTrigger">
                  {item.title}
                </cg-dropdown-trigger>

                <cg-dropdown-menu slot="dropdownMenu">
                  {item.children.map(subItem => (
                    <cg-dropdown-link-menu-item
                      href={subItem.content.cached_url}
                    >
                      {subItem.title}
                    </cg-dropdown-link-menu-item>
                  ))}
                </cg-dropdown-menu>
              </cg-dropdown>
            ) : (
              <a href={item.content.cached_url} class="navbar__nav-item">
                {item.title}
              </a>
            ),
          )
        }
      </div>

      <cg-sidenav class="sidenav"></cg-sidenav>
    </nav>
  </div>
</header>

<script>
  const sidenavLinksElem = document.querySelector('[data-sidenav-links]');
  if (!sidenavLinksElem) {
    throw new Error('sidenav links element not found');
  }

  const sidenavLinks = sidenavLinksElem.getAttribute('data-sidenav-links');
  if (!sidenavLinks) {
    throw new Error('sidenav links attribute not found');
  }

  const sidenav = document.querySelector('cg-sidenav');
  if (!sidenav) {
    throw new Error('sidenav element not found');
  }

  sidenav.links = JSON.parse(sidenavLinks);
</script>

<style lang="scss">
  @import '@cg/styles/common';

  .sidenav {
    @include lg {
      display: none;
    }
  }
</style>
